@import 'base';

.range {
  width: 100%;
  height: 1.2rem;
  margin-top: .6rem;

  &:active {
    .range__label {
      color: $color-accent;
    }

    .range__slider__thumb {
      transform: scale(1.4);
      box-shadow: none !important;
    }

    .range__slider__trackbar-1 {
      background: $color-divider !important;
    }
  }

  &:hover {
    .range__slider__thumb {
        box-shadow: 0 0 0 10px rgba($color-accent, .2);
    }

    .range__slider__trackbar-1 {
      background-color: rgb(189, 189, 189);
    }
  }

  &__label {
    color: $color-font-primary;
    font-size: .7rem;
  }

  &__slider {
    display: flex;
    align-items: center;
    padding: .6rem 0;
    width: 100%;
    cursor: pointer;

    &__thumb {
      width: .6rem;
      height: .6rem;
      border-radius: 50%;
      background-color: $color-accent;
      cursor: pointer;
      transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
    }

    &__trackbar {
      position: relative;
      height: 2.1px;

      // Left side trackbar
      &-0 {
        background: $color-accent;
      }

      // Right side trackbar
      &-1 {
        background: $color-divider;
      }
    }
  }
}
