@import "../../styles/base";

.input {
  position: relative;
  width: 100%;
  margin-top: .6rem;
  font-size: .7rem;

  &--state-focussed {
    .input__label {
      color: $color-accent !important;
      transform: scale(0.85714, 0.85714) translateY(-1.35rem);
    }
  }

  &--state-fixed {
    .input__label {
      color: $color-font-secondary;
      transform: scale(0.85714, 0.85714) translateY(-1.35rem);
    }
  }

  &__label {
    position: absolute;
    top: 10px;
    left: 0;
    color: $color-font-primary;
    font-size: inherit;
    transform-origin: 0 0;
    transition-duration: .3s;
    pointer-events: none;
  }

  &__error {
    margin-top: .2rem;
    font-size: .6rem;
    color: red;
  }

  &__control {
    width: 100%;
    padding: 8px 0 7px;
    border: none;
    border-bottom: 1px solid $color-divider;
    font: inherit;

    &:focus {
      padding-bottom: 5.7px;
      border-bottom: 2.3px solid $color-accent;
    }
  }
}
