.form__group {
  display: flex;
  flex-flow: row nowrap;

  //> * {
  //  margin-right: .8rem;
  //}

  &--space-medium {
    margin-bottom: 1.2rem;
  }

  &--space-large {
    margin-bottom: 1.8rem;
  }

  .button--kind-raised {
    margin-right: .8rem;
  }

  .button--kind-flat {
    margin-right: .4rem;
  }

  :last-child {
    margin-right: 0;
  }

  &--position-left {
    justify-content: flex-start;
  }

  &--position-right {
    justify-content: flex-end;
  }
}
