@import 'base';

.modal {
  visibility: hidden;

  &--show {
    visibility: visible;
  }

  &__overlay {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .65);
  }

  &__dialog {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    //width: 384px;
    width: auto;
    max-width: 820px;
    margin-top: $header-height;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0, 0, 0, .12),0 2px 4px rgba(0, 0, 0, .24);
  }

  &__header {
    margin-top: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    color: $color-font-primary;

    &__close {
      position: absolute;
      top: .4rem;
      right: .4rem;
      font-size: 1rem;
      margin-left: auto;
      cursor: pointer;
      color: $color-font-primary;
    }
  }

  &__content {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    p {
      margin-bottom: 20px;
      line-height: 24px;
    }

  }
}
