.calories {
  margin-bottom: 1.2rem !important;

  &__animated-number {
    font-weight: 500;
    float: right;
    transition: 0.8s ease-out;
    transition-property: background-color, color, opacity;
  }

  //
  // ReactCSSTransitionGroup
  //
  &__transition-group {
    &-enter {
      opacity: 0.01;

      &-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
      }
    }

    &-leave {
      opacity: 1;

      &-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
      }
    }
  }
}
