.snackbar {
  position: fixed;
  bottom: 1.2rem;
  min-width: 14.4rem;
  max-width: 28.4rem;
  padding-right: .8rem;
  padding-left: .8rem;
  z-index: 99999;
  pointer-events: none;

  @media screen and (max-width: 768px) {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    max-width: 99999999px;

    .snackbar__inner {
      background-color: rgba(0, 0, 0, 0.87);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    height: 2.4rem;
    padding-right: .8rem;
    padding-left: .8rem;

    background-color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);

    color: white;
    font-size: 0.7rem;
    font-weight: 500;

    transform: translate(0, 200%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
    pointer-events: none;

    &__inner {
      :after,
      :before {
        content: "";
        display: table;
        line-height: 0;
      }

      :after {
        clear: both;
      }
    }
  }
}

.snackbar__inner.show {
  transform: translate(0, 0);
}
