@import 'base';

.button {
  position: relative;
  display: block;
  box-sizing : border-box;
  border: none;
  border-radius: 2px;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: .7rem;
  line-height: .7rem;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transform-origin: 0 0;
  transition-duration: .2s;

  //
  // States
  //
  &:active {
    &.button--kind-raised {
      box-shadow: rgba(0, 0, 0, 0.22) 0 3px 10px, rgba(0, 0, 0, 0.32) 0 3px 10px;
    }

    &.button--kind-raised {
      // Empty
    }
  }

  &:active,
  &:link,
  &:hover,
  &:visited {
    &.button {
      outline: none;
    }
  }

  &--kind-raised {
    padding-left: .8rem;
    padding-right: .8rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
  }

  &--kind-flat {
    padding-left: .4rem;
    padding-right: .4rem;
    color: $color-font-primary;
    background-color: transparent;

    &.button--color-primary {
      > .ink {
        color: $color-font-primary;
      }
    }
  }

  &--color-primary {
    &.button--kind-raised {
      background-color: $color-primary;
    }

    &.button--kind-flat {
      color: $color-primary;
    }
  }

  &--color-default {
    &.button--kind-raised {
      color: $color-font-primary;
      background-color: white;
    }

    &.button--kind-flat {
      // Empty
    }
  }

  &--color-google {
    &.button--kind-raised {
      background-color: $color-google;
    }
  }

  &--color-facebook {
    &.button--kind-raised {
      background-color: $color-facebook;
    }
  }

  &--size-full {
    width: 100%;
  }

  &--size-half {
    //width: 50%;
    width: calc(50% - .4rem);
  }

  &--size-crop {
    width: auto;
  }
}

