@import 'base';

.card {
  position: relative;
  display: flex;
  flex-flow: column;
  margin: 1.2rem 0;

  background-color: white;
  border-radius: 2px;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0, 0, 0, .12),0 2px 4px rgba(0, 0, 0, .24);

  @media only screen and (max-width: 28em) {
    margin: 0;
    box-shadow: none;
    //height: 100% !important;

    .card__header {
      border-bottom: none;
      padding-bottom: 0;
    }

    .card__content {
      // Empty
    }
  }

  &__header {
    border-bottom: 1px solid $color-divider;
    padding: 1.2rem .8rem;
    font-size: 1rem;
    line-height: 1rem;
    color: $color-font-primary;
    font-weight: 500;
  }

  &__content {
    margin: 0 .8rem;
    padding-top: 1.2rem;
  }

  &__footer {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    bottom: -62px;
    left: 0;
    right: 0;
    margin: 0 .8rem;

    :last-child {
      margin-left: auto;
    }
  }
}
