@import 'base';
//@import '~include-media';

.content {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;

  @media only screen and (max-width: 75em) {
    .content__inner {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  @media only screen and (max-width: 48em) {
    .content__inner {
      flex-basis: 66.66666666%;
      max-width: 66.66666666%;
    }
  }

  @media only screen and (max-width: 28em) {
    .content__inner {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &__inner {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
    //padding-left: 1rem;
    //padding-right: 1rem;
  }
}
