@import 'base';

.meal {
  position: relative;
  display: flex;
  margin: 1px 0.8rem 1.2rem;
  height: 255px;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0, 0, 0, .12),0 2px 4px rgba(0, 0, 0, .24);
  border-radius: 5px;

  background-repeat: no-repeat;
  background-position: center center ;
  background-size: cover;

  &__row {
    margin: 0 auto;
  }

  &__icon {
    align-self: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .6);
    color: $color-font-primary;
    font-size: 2.4rem;
    cursor: pointer;

    &--left {
      margin-left: .8rem;
    }

    &--right {
      margin-left: auto;
      margin-right: .8rem;
    }
  }

  &__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .8rem;
    background-color: white;
  }

  &__title {
    font-size: .7rem;
    color: $color-font-primary;
    font-weight: 400;
  }

  &__subtitle {
    font-size: .55rem;
    color: $color-font-secondary;
    font-weight: 400;
  }
}
