@import 'base';

.dropdown {
  margin-left: auto;

  &:focus {
    outline: none;
  }

  &__trigger {
    padding: .8rem;
    margin-left: auto;
    color: white;
    cursor: pointer;
  }

  &__drop {
    position: absolute;
    top: .4rem;
    right: .4rem;
    width: 160px;
    padding: .7rem 0;

    border-radius: 2px;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0, 0, 0, .12),0 2px 4px rgba(0, 0, 0, .24);
    background-color: white;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 44px;
    cursor: pointer;

    &:hover {
      background-color: #EEEEEE;
    }

    &__icon {
      color: $color-font-primary;
      cursor: pointer;
      margin: 0 .7rem;
    }
  }

  //
  // ReactCSSTransitionGroup
  //
  &__transition-group {
    &-enter {
      max-height: 0;
      transition: max-height .3s ease;
      overflow: hidden;

      &-active {
        height: auto;
        max-height: 148px;
      }
    }

    &-leave {
      max-height: 148px;
      transition: max-height .3s ease;

      &-active {
        overflow: hidden;
        max-height: 0;
      }
    }
  }
}
