@import 'base';
//@import '~normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  line-height: 1rem;
}

body {
  color: $color-font-primary;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a {
  text-align: left;
}

p,
span,
input,
label,
li,
th,
a {
  font-size: .7rem;
  color: $color-font-primary;
  font-weight: 400;
}

a,
a:hover,
a:active,
a:link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
  text-align: left;
}

input {
  outline: none;
}

.ink {
  opacity: .7;
}

// Mobile scroll bar
::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 12px;
}
::-webkit-scrollbar:horizontal {
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}
