@import 'base';

.divider {
  display: flex;
  align-items: center;
  width: 100%;

  &:before,
  &:after {
    content: "";
    flex-grow: 1;
    background-color: $color-divider;
    height: 1px;
  }

  &__text {
    color: $color-font-secondary;
    font-size: .7rem;
  }

  &--type-with-text {
    &.divider {
      &:before { margin-right: .8rem; }
      &:after { margin-left: .8rem; }
    }
  }

  &--type-without-text {
    &:before,
    &:after { margin: 0; }
  }
}
