@import 'base';

.select {
  position: relative;
  font-size: .7rem;
  width: 100%;
  margin-top: .6rem;
  cursor: pointer;

  &__icon {
    position: absolute;
    pointer-events: none;
    top: 6px;
    right: 0;
  }

  &__placeholder {
    width: 100%;
    padding: .4rem 1.4rem .35rem 0;
    border: none;
    border-bottom: 1px solid $color-divider;
    font: inherit;
    cursor: inherit;
  }

  &__error {
    margin-top: .2rem;
    font-size: .6rem;
    color: red;
  }

  &__options {
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    max-height: 160px;
    padding: .7rem 0;

    border-radius: 2px;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0, 0, 0, .12),0 2px 4px rgba(0, 0, 0, .24);
    background-color: white;

    z-index: 99999;
    cursor: pointer;
    overflow: auto;
  }

  &__option {
    display: flex;
    position: relative;
    padding: .7rem;
    cursor: pointer;
    //z-index: 99999;

    &:hover {
      background-color: #EEEEEE;
    }

    &--selected {
      color: $color-accent;

      &:hover {
        background-color: inherit;
      }

      .select__checkbox {
        background-color: $color-accent;
        border-color: $color-accent;

        .select__checkbox__icon {
          visibility: visible;
        }
      }
    }
  }

  &__checkbox {
    position: relative;
    width: .7rem;
    height: .7rem;
    margin-right: .7rem !important;
    border: 2px solid rgba(0,0,0,0.54);
    border-radius: 2px;

    &__icon {
      position: absolute;
      top: -3px;
      right: -3px;
      color: white;
      font-size: .8rem;
      visibility: hidden;
    }
  }

  //
  // ReactCSSTransitionGroup
  //
  &__transition-group {
    &-enter {
      max-height: 0;
      transition: max-height .3s ease;
      overflow: hidden;

      &-active {
        height: auto;
        max-height: 160px;
      }
    }

    &-leave {
      max-height: 160px;
      transition: max-height .3s ease;

      &-active {
        overflow: hidden;
        max-height: 0;
      }
    }
  }
}
