$color-font-primary: rgba(0, 0, 0, .87);
$color-font-secondary: rgba(0, 0, 0, .57);
$color-font-tertiary: rgba(0, 0, 0, .37);

$color-primary: #3F51B5;
$color-primary-dark: #303F9F;
$color-accent: #FF4081;

$color-facebook: #3B5998;
$color-google: #DB4437;


$color-divider: rgba(0, 0, 0, .13);
