@import 'base';

.header {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $header-height;
  background-color: $color-primary;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.54);
  z-index: 99999;


  &__title {
    padding-left: .8rem;
    padding-right: .8rem;
    color: white;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
  }
}
