@import 'base';

.ingredients {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 10px;
  padding-right: 10px;

  &__row {
    display: flex;
    flex-flow: row wrap;
    padding: .4rem 0;
    border-bottom: 1px solid $color-divider;

    :first-child {
      text-align: left;
      width: 200px;
    }
  }

  &__cell {
    font-size: .6rem;

    width: 50px;
    text-align: right;
    padding: 0 .4rem;

    &--rotated {
      transform: translate(23px, -9px) rotate(-45deg);
      text-align: left;
    }
  }
}
