@import 'base';

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, .2);

  &__spinner {
    border: .4rem solid white;
    border-radius: 50%;
    border-top: .4rem solid $color-primary;
    width: 3rem;
    height: 3rem;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
